<div class="flex flex-col space-y-4 items-center mt-8">
    <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 transition duration-300">
        <a href="catalogo">Catálogo</a>
    </button>
    <button class="bg-green-500 text-white font-bold py-2 px-4 rounded-lg shadow-md hover:bg-green-600 transition duration-300">
        <a href="bestP">Mejor Producto</a>
    </button>
    <button class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg shadow-md hover:bg-red-600 transition duration-300">
        <a href="weAre">Quienes Somos</a>
    </button>
    <button class="bg-purple-500 text-white font-bold py-2 px-4 rounded-lg shadow-md hover:bg-gray-600 transition duration-300">
        <a href="contact">Contacto</a>
    </button>
</div>
